{% extends 'master' %}

{% block content %}
  <h2>register</h2>
  <form action="/register" method="POST">
    {{ csrfField }}
    <div class="form-input">
      <label for="email">Email</label>
      <input type="text" name="email" id='email' lpaceholder='email'>
    </div>
    <div class="form-input">
      <label for="password">password</label>
      <input type="password" name="password" id='password' placeholder='password'>
    </div>
    <div class="button-group">
      <button class="butotn success">submit</button>
    </div>
  </form>
{% endblock %}
